---
import type { About } from "@/interfaces/AboutSection";
import PrimaryButton from "./shared/PrimaryButton.astro";

import type {ButtonData} from '@/interfaces/ButtonData';

const {title, subtitle, paragraph, button, image, color=false, direction="flex-row"} = Astro.props as About
---
<section class:list={[
        `flex ${direction} w-fit mx-auto h-[100vh] justify-center items-center px-[4.5rem]`,
        {"bg-ocre-30": color}
    ]} >
    <div class:list={[
        "grid grid-cols-1 gap-6 w-[40%]",
        {"ml-[6.5rem]": direction === "flex-row-reverse"},    
        {"mr-6": direction === "flex-row"}    
    ]}>
        <div class="flex flex-col">
            <h4>{subtitle}</h4>
            <h2>{title}</h2>
        </div>
        <p class="w-[85%] mb-4">{paragraph}</p>
        <PrimaryButton {...button} />
    </div>
    <div class=`${image} h-[85vh] w-[40%]`></div>

</section>
