---
import type { About } from "@/interfaces/AboutSection";
import PrimaryButton from "./shared/PrimaryButton.astro";

import type {ButtonData} from '@/interfaces/ButtonData';

const {title, subtitle, paragraph, button, image, color=false, direction="flex-row"} = Astro.props as About
---
<section class:list={[
        `flex flex-col-reverse w-full mx-auto justify-center items-center px-0 py-0 pb-10
        lg:flex-row lg:w-fit
        lg:py-20 lg:px-[4.5rem]`,
        {"bg-ocre-30": color}
    ]} >
    <!-- Text box -->
    <div class:list={[
        `grid grid-cols-1 gap-6 
        w-[80%] lg:w-[40%]
        pt-10 lg:pt-0 mx-0`,
        {"lg:ml-[6.5rem]": direction === "flex-row-reverse"},    
        {"lg:mr-6": direction === "flex-row"},
        
    ]}>
        <div class="flex flex-col">
            <h4>{subtitle}</h4>
            <h2>{title}</h2>
        </div>
        <p class="w-full lg:w-[85%] mb-4">{paragraph}</p>
        <PrimaryButton {...button} />
    </div>
    <!-- Image -->
    <div class=`${image} h-[85vh] w-full 
        lg:w-[40%]`></div>

</section>
