---
import type { About } from "@/interfaces/AboutSection";
import PrimaryButton from "./shared/PrimaryButton.astro";

import type {ButtonData} from '@/interfaces/ButtonData';
import SectionTextContent from "./ui/SectionTextContent.astro";

const {id, title, subtitle, paragraph, button, image, color=false, direction="flex-row"} = Astro.props as About
const SectionTextContentData = {title, subtitle, paragraph, direction}
---
<section class:list={[
        `flex flex-col-reverse w-full mx-auto justify-center items-center px-0 py-0 pb-10
        lg:flex-row lg:w-fit
        lg:py-20 lg:px-[4.5rem]`,
        {"bg-ocre-30": color},
        {"lg:flex-row-reverse": direction !== "flex-row"},
    ]} id={id}>
    <!-- Text box -->
     <SectionTextContent {...SectionTextContentData}>
        <slot></slot>
     </SectionTextContent>
    <!-- <div class:list={[
        `grid grid-cols-1 gap-6 
        w-[80%] lg:w-[40%]
        pt-10 lg:pt-0 mx-0`,
        {"lg:ml-[5rem]": direction !== "flex-row"},
        
    ]}>
        <div class="flex flex-col">
            <h4>{subtitle}</h4>
            <h2 class="uppercase w-[90%]">{title}</h2>
        </div>
        <p class="w-full lg:w-[85%] mb-4">{paragraph}</p>
        <div class="flex flex-col w-[100%] items-left mx-auto">
            <slot></slot>
        </div>
    </div> -->
    <!-- Image -->
    <div class=` h-[85vh] w-full 
        lg:w-[40%] bg-cover` style=`background: url(${image}); background-position-x: center; background-position-y: start; background-repeat: no-repeat`>
    </div>

</section>
