---
import CloseButton from '../shared/CloseButton.astro';
import BurgerMenuButton from '../shared/BurgerMenuButton.astro';

import type { ButtonData } from '@/interfaces/ButtonData';
import Dropdown from './Dropdown.astro';
import DesktopDropdownMenu from './DesktopDropdownMenu.astro';
import MobileDropdownMenu from './MobileDropdownMenu.astro';
import PrimaryButton from '../shared/PrimaryButton.astro';
import Link from '../shared/Link.astro';
import { getBooks } from '@/pages/api/books';
import { getVolunteerings } from '@/pages/api/volunteering';


const links = [
  //{ text: 'Inicio', href: '/' },
  { text: 'Sobre mi', href: `${import.meta.env.BASE_URL}#about-me` },
  { text: 'Libros', href:''},
  { text: 'Voluntariado', href: '' },
  { text: 'Blog', href: `${import.meta.env.BASE_URL}blog/posts` },
];

const {body:books}= await getBooks();
const {body:volunteering}= await getVolunteerings();

const ctaBtnData:ButtonData = {title: "Conectemos", link: `${import.meta.env.BASE_URL}#connect`}

---
<nav x-data="{
        openMenu: false,

        toggleMenu() {
            if (this.openMenu) {
                return this.closeMenu()
            }
            this.openMenu = true
        },

        closeMenu() {
            if (this.openMenu) {
                return this.openMenu = false
            }
        }
    }" 
    class="bg-orange-50 w-full fixed z-10">

    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <!-- Ícono -->
        <a href={`${import.meta.env.BASE_URL}`} class="flex a-link">
            <div class="flex w-[32px] h-[32px] rounded-full bg-ocre-110 justify-center items-center px-3 py-1">
                <span class="text-ocre-30 font-bold">S</span>
            </div>
        </a>

        <!-- Botón del menú móvil -->
        <a
        x-ref="burgerMenu"
        @click="toggleMenu()" 
        :aria-expanded="openMenu"
        :aria-controls="$id('dropdown-button')"
        class="w-fit">
            <BurgerMenuButton />    
        </a>

        <!-- Menú Desktop -->
        <div class="hidden md:flex md:items-center lg:space-x-8 text-center ml-[4.2rem]">
            {links.map((link) => (
                <div class="py-2 px-2 space-y-2">
                    {link.text === 'Libros' ? (
                        <Dropdown title="Libros" textSize="text-lg">
                            <DesktopDropdownMenu optionsList={books} title="Libros" />
                        </Dropdown>
                    ) : link.text === 'Voluntariado' ? (
                        <Dropdown title="Voluntariado" textSize="text-lg">
                            <DesktopDropdownMenu optionsList={volunteering} title="Voluntariado" />
                        </Dropdown>
                    ) : (
                        <Link href={link.href} text={link.text} size="text-lg sm:text-base" />
                    )}
                </div>
            ))}
        </div>

        <div class="hidden md:flex md:items-center lg:space-x-8">
            <PrimaryButton {...ctaBtnData} />
        </div>
    </div>

    <!-- Menú móvil -->
    <div 
        x-ref="dropdown-menu"
        x-show="openMenu"
        x-transition:enter="transition-transform duration-300 ease-in-out"
        x-transition:enter-start="transform -translate-x-full" 
        x-transition:enter-end="transform translate-x-0"          
        x-transition:leave="transition-transform duration-300 ease-in-out"
        x-transition:leave-start="transform translate-x-0"        
        x-transition:leave-end="transform -translate-x-full"      
        x-on:click.outside="close($refs.burgerMenu)"
        :id="$id('dropdown-button')"
        x-cloak
        class="fixed top-0 left-0 w-full h-full bg-orange-100  md:hidden"
        >
        
        <a @click="closeMenu()" class="w-fit" >
            <CloseButton />
        </a>

        <ul class="flex flex-col items-center justify-center h-full p-4">
            {links.map((link) => (
                <div class="py-2 px-4 space-y-2">
                    {link.text === 'Libros' ? (
                        <Dropdown title="Libros" textSize="text-[1.5rem]">
                            <MobileDropdownMenu optionsList={books} title="Libros" />
                        </Dropdown>
                    ) : link.text === 'Voluntariado' ? (
                        <Dropdown title="Voluntariado" textSize="text-[1.5rem]">
                            <MobileDropdownMenu optionsList={volunteering} title="Voluntariado" />
                        </Dropdown>
                    ) : (
                        <Link href={link.href} text={link.text} size="text-[1.5rem]" />
                    )}
                </div>
            ))}

            <div class="mt-[6rem]">
                <PrimaryButton {...ctaBtnData} size="text-lg px-4" title="Conectemos" />
            </div>
        </ul>
    </div>
</nav>

