---
import CloseButton from '../shared/CloseButton.astro';
import BurgerMenuButton from '../shared/BurgerMenuButton.astro';

import type { ButtonData } from '@/interfaces/ButtonData';
import Dropdown from './Dropdown.astro';
import DesktopDropdownMenu from './DesktopDropdownMenu.astro';
import MobileDropdownMenu from './MobileDropdownMenu.astro';
import PrimaryButton from '../shared/PrimaryButton.astro';
import Link from '../shared/Link.astro';
import { getBooks } from '@/pages/api/books';
import { getVolunteerings } from '@/pages/api/volunteering';
import OffcanvasMenu from './OffcanvasMenu.astro';


const links = [
  //{ text: 'Inicio', href: '/' },
  { text: 'Sobre mi', href: `${import.meta.env.BASE_URL}#about-me` },
  { text: 'Libros', href:''},
  { text: 'Voluntariado', href: '' },
  { text: 'Blog', href: `${import.meta.env.BASE_URL}blog/posts` },
];

const {body:books}= await getBooks();
const {body:volunteering}= await getVolunteerings();

const ctaBtnData:ButtonData = {title: "Conectemos", link: `${import.meta.env.BASE_URL}#connect`};

const offcanvasData = {links, ctaBtnData, books, volunteering}

---
<nav 
    x-data="{
        openMenu: false,

        toggleMenu() {
        this.openMenu = !this.openMenu;
        }
    }" 

    class="bg-orange-50 w-full fixed z-10">

    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <!-- Ícono -->
        <a href={`${import.meta.env.BASE_URL}`} class="flex a-link">
            <div class="flex w-[32px] h-[32px] rounded-full bg-ocre-110 justify-center items-center px-3 py-1">
                <span class="text-ocre-30 font-bold">S</span>
            </div>
        </a>

        <!-- Botón del menú móvil -->
        <a
            x-ref="burgerMenu"
            @click="toggleMenu()"
            class="w-fit md:hidden">
            <BurgerMenuButton />    
        </a>

        <!-- Menú Desktop -->
        <div class="hidden md:flex md:items-center lg:space-x-8 text-center ml-[4.2rem]">
            {links.map((link) => (
                <div class="py-2 px-2 space-y-2">
                    {link.text === 'Libros' ? (
                        <Dropdown title="Libros" textSize="text-lg">
                            <DesktopDropdownMenu optionsList={books} title="Libros" />
                        </Dropdown>
                    ) : link.text === 'Voluntariado' ? (
                        <Dropdown title="Voluntariado" textSize="text-lg">
                            <DesktopDropdownMenu optionsList={volunteering} title="Voluntariado" />
                        </Dropdown>
                    ) : (
                        <Link href={link.href} text={link.text} size="text-lg sm:text-base" />
                    )}
                </div>
            ))}
        </div>

        <div class="hidden md:flex md:items-center lg:space-x-8">
            <PrimaryButton {...ctaBtnData} />
        </div>
    </div>

    <OffcanvasMenu offcanvasData={offcanvasData} />
</nav>

